{% if message.author == user.username %}
<div class="flex justify-end mb-4">
    <div class="message-bubble bg-green-200 rounded-l-lg rounded-tr-lg p-4 max-w-[75%]">
        <div class="flex justify-end mb-1">
            <div class="text-sm text-gray-500 mr-2">{{ message.timestamp|date:"g:i A" }}</div>
            <div class="font-bold">You</div>
        </div>
        <span>{{ message.body }}</span>
    </div>
</div>
{% else %}
<div class="flex mb-4">
    <div class="message-bubble bg-gray-200 rounded-r-lg rounded-tl-lg p-4 max-w-[75%]">
        <div class="flex mb-1">
            <div class="font-bold">{{ message.author }}</div>
            <div class="text-sm text-gray-500 ml-2">{{ message.timestamp|date:"g:i A" }}</div>
        </div>
        <span>{{ message.body }}</span>
    </div>
</div>
{% endif %}
