{% if message.author == user %}
<li class="flex justify-end mb-4">
    <!-- Sent Message (Blue) -->
    <div class="flex items-end gap-1">
        <div class="bg-blue-500 text-white rounded-l-lg rounded-tr-lg p-4 max-w-[75%] shadow">
            <span>{{ message.body }}</span>
        </div>
        <div class="flex items-end">
            <svg height="13" width="8">
                <path fill="#3b82f6" d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"/>
            </svg>
        </div>
    </div>
</li>
{% else %}
<li class="flex flex-col mb-4">
    <!-- Received Message (Black) -->
    <div class="flex items-start gap-2">
        <a href="{% url 'profile' message.author.username %}" class="flex-shrink-0">
            <img class="w-8 h-8 rounded-full object-cover" src="{{ message.author.profile.avatar }}" alt="{{ message.author.username }}">
        </a>
        <div class="flex items-end gap-1">
            <div class="flex items-end">
                <svg height="13" width="8">
                    <path fill="#000000" d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"></path>
                </svg>
            </div>
            <div class="bg-black text-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg shadow">
                <span>{{ message.body }}</span>
            </div>
        </div>
    </div>
    <div class="text-sm font-light py-1 ml-10">
        <span class="text-gray-400 font-semibold">{{ message.author.profile_name }}</span> 
        <span class="text-gray-500">@{{ message.author.username }}</span>
    </div>
</li>
{% endif %}
